@import url("https://fonts.googleapis.com/css?family=Libre+Franklin");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, legend, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Imports */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*
Table of Contents
=================
-- General Styles
-- Header
---- Top Nav Bar
---- Primary Nav Bar
-- Footer
-- Pagination
-- Content
---- Browse and Item Pages
---- Simple Pages
---- Contributed Items
-- Form Elements
--Advanced Search
*/
/* !---------- General Styles ---------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
}

body,
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.wrapper > * {
  padding: 0px;
  -webkit-box-flex: 1 100%;
  -moz-box-flex: 1 100%;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
}

.flex-item {
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 50%;
  -moz-box-flex: 1 50%;
  -webkit-flex: 1 50%;
  -ms-flex: 1 50%;
  flex: 1 50%;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

.main-content {
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.side-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem;
  margin: 1rem;
  display: block;
  border: hidden;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  color: #595959;
}
.side-bar h3, .side-bar legend {
  padding-bottom: .5rem;
  padding-top: .75rem;
  text-transform: uppercase;
}

@media all and (min-width: 600px) {
  .wrapper {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media all and (max-width: 650px) {
  .flex-item,
  .main-content {
    -webkit-box-flex: 1 100%;
    -moz-box-flex: 1 100%;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
}
ul, ol {
  list-style: disc outside none;
  padding: 0 0 0 30px;
}

ul ul, ol ul {
  list-style: circle outside none;
}

a:link {
  color: #494949;
}
a:visited {
  color: #494949;
}
a:hover {
  color: black;
}
a:focus {
  color: black;
}
a:active {
  color: black;
}
h1 a, h2 a, h3 a, legend a {
  text-decoration: none;
}

#main {
  background-color: #fff;
}
#main h1, #main h2 {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 500;
}

#main h1 {
  font-size: 32px;
  margin-bottom: 2rem;
}

#main h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0.67em 0 0.67em;
}

#main h3, #main legend {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 0.67em 0 0.67em;
  -webkit-margin-before: 0;
}

#main h4 {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-size: 19.2px;
  font-weight: 500;
  margin: 0.67em;
  text-transform: uppercase;
}

#main p, #main ul, #main li {
  margin-bottom: 1em;
}

.content {
  position: relative;
  display: block;
  border: hidden;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  color: #595959;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.content h2 {
  padding-bottom: .5rem;
}
.content p {
  padding-bottom: 1rem;
}
.content div {
  padding-bottom: 1rem;
}

.content footer {
  display: block;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #e2e2e2;
  padding: 1rem;
  width: 100%;
}
.content footer a {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.aside {
  background: #f5f5f5;
  padding: 0.5rem 2rem;
  margin: 1rem -1rem -1rem -1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

div.icons {
  float: left;
  width: 100px;
  padding: .25em .75em;
  margin-right: 1.5rem;
}
div.icons a {
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
}
div.icons a:hover, div.icons a:focus {
  text-decoration: underline;
}

div.icons svg {
  width: 100%;
  height: auto;
}
div.icons svg path {
  fill: #595959;
}

/* -------------------------------------------------------------------------*/
/* !---------- Header ---------- */
header {
  padding: 0;
}

#site-title {
  padding: .5rem 1.5rem;
}
#site-title h1 {
  margin: 0;
  padding-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: inherit;
  font-size: 32px;
  line-height: 36px;
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 500;
}
#site-title h2 {
  margin: 0;
  overflow: hidden;
  text-overflow: inherit;
  font-size: 24px;
  line-height: 36px;
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 500;
}
#site-title a {
  text-decoration: none;
}
#site-title a:visited {
  text-decoration: none;
}

#introduction {
  min-height: 40vh;
  background-size: cover;
  background-position: center top;
  margin: -1rem -1rem 1rem -1rem;
}

#introduction p {
  margin: 0;
  float: right;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  padding: 4rem;
  padding-left: 40%;
  min-height: 40vh;
  background-size: cover;
}

@media all and (max-width: 650px) {
  #introduction p {
    padding-left: 4rem;
  }
}
#admin-bar {
  padding: 0;
}

.admin-login {
  float: right;
  padding: 0;
  margin-top: -0.6rem;
  margin-bottom: -0.6rem;
}

/* !---------- Top Nav Bar ---------- */
.topnav {
  overflow: hidden;
  display: block;
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
.topnav a {
  text-decoration: none;
  font-family: "franklin-gothic-urw", arial, sans-serif;
  text-transform: uppercase;
}
.topnav a:hover {
  text-decoration: underline;
}

#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#skipnav:focus {
  top: 0;
  z-index: 9999;
  clip: initial;
  height: auto;
  width: auto;
  padding: .5em;
  border: 1px blue dashed;
}

/* !---------- Primary Nav Bar ---------- */
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: .25rem;
  padding-bottom: .25rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
}
.navigation a {
  line-height: 36px;
  font-weight: 400;
  padding: 1.5rem;
  text-decoration: none;
}
.navigation a:hover {
  text-decoration: underline;
}

@media all and (max-width: 800px) {
  .navigation, .topnav {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
  }
}
@media all and (max-width: 600px) {
  .navigation, .topnav {
    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
/* -------------------------------------------------------------------------*/
/* !---------- Footer ---------- */
.footer {
  text-align: center;
  padding: 1rem;
}

#bottom-nav {
  display: inline-block;
  font-size: .9rem;
}

/* -------------------------------------------------------------------------*/
/* !---------- Pagination ---------- */
.item-pagination {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.item-pagination a {
  display: block;
  text-decoration: none;
  background: #efefef;
  padding: .25em .75em;
  margin-right: 2rem;
}
.item-pagination a:hover, .item-pagination a:focus {
  background: #c9c9c9;
}

.item-pagination li.next {
  float: right;
  text-align: right;
}

.item-pagination li, .pagination_list li {
  display: inline-block;
  margin: 0;
}

.sort-links ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
}
.sort-links ul li {
  display: inline-block;
}
.sort-links ul li + li:before {
  content: "\b7";
  padding: 0 .25em;
  color: rgba(0, 0, 0, 0.5);
}

.pagination_list,
.sort-links {
  font-size: 14.4px;
  line-height: 30px;
}

.pagination_list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.pagination_list li {
  display: inline;
}
.pagination_list li.pagination_current {
  background: #c9c9c9;
  color: rgba(0, 0, 0, 0.8);
  padding: .25em .75em;
}
.pagination_list a {
  text-decoration: none;
  background: #efefef;
  padding: .25em .75em;
}
.pagination_list a:hover, .pagination_list a:focus {
  background: #c9c9c9;
}

/* -------------------------------------------------------------------------*/
/* Browse and Item Pages */
.browse,
.collection {
  /* browse view */
}
.browse .items,
.collection .items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.browse .item,
.collection .item {
  width: 29%;
  margin-bottom: 2em;
}

.item h2 a {
  font-size: 24px;
}
.item h2 a:hover, .item h2 a:focus {
  text-decoration: underline;
}

.item h3 a, .item legend a {
  font-size: 20px;
}
.item h3 a:hover, .item legend a:hover, .item h3 a:focus, .item legend a:focus {
  text-decoration: underline;
}

#homepage-text,
#home article div.side-bar,
.items #primary,
.browse #primary,
.contribution #primary,
.simple-page #primary,
.collections #primary {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.simple-page .page-text {
  float: left;
  width: 65%;
}

.simple-page #primary {
  overflow: hidden;
}

/* -------------------------------------------------------------------------*/
/* !---------- Contributed Items ---------- */
.contribution {
  min-height: 1145px;
}

#contribution-confirm-submit .inputs {
  margin: 1.333em 0;
}

.field .inputs {
  font-weight: normal;
  font-size: 1rem;
}

.field .input-block {
  font-size: 1rem;
}

legend {
  padding: 0.9em 0 1.0em;
  font-size: 1.333em;
  font-family: "franklin-gothic-urw", arial, sans-serif;
  color: #4B676E;
}

.field {
  margin: 1.4em;
  font-weight: bold;
}
.field .normal {
  font-weight: normal;
}

#content .container {
  margin-right: 60px;
}

#form-submit {
  margin: 1.333em 0;
}

p {
  overflow: wrap;
}

.page a {
  text-decoration: none;
}

.element-set h2 {
  margin: 0 0 0.67em;
}

.pager {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  margin-top: 3em;
}
.pager a {
  text-decoration: none;
  font-size: 80%;
}

.item-img img {
  max-width: 80%;
  margin: 0 auto;
}

.item-type-email {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.5);
  padding: 1.5em 5%;
  font-size: 80%;
}
.item-type-email h2 {
  font-size: 150% !important;
  color: #555;
}
.item-type-email p {
  margin-left: 1.5em;
}

#itemfiles {
  margin-bottom: 1.5em;
}

.kicker {
  margin-bottom: 0 !important;
  font-style: italic;
  color: #999;
  font-family: Georgia, serif;
  font-size: 0.8em;
}
.kicker + * {
  margin-top: 0 !important;
}

.row {
  min-width: 20px !important;
}

#content .container {
  margin-right: 0 !important;
}

video {
  min-height: 530px;
}

#item-output-formats,
.items-nav,
#outputs {
  display: none;
}

.element {
  margin-bottom: 1.75em;
}

.element h3, .element legend {
  margin-bottom: .375em !important;
}

.explanation {
  font-weight: normal;
}

.results .item:not(:first-child):before {
  width: 20%;
  margin: 3em auto;
  display: block;
  background-color: #ddd;
  height: 1px;
  text-align: center;
}
.results .item .item-img {
  float: right;
  margin-left: 1.5em;
}

/* -------------------------------------------------------------------------*/
/* @group ----- Formalize Styles -----  */
/* == http://formalize.me == */
/* `Widths
----------------------------------------------------------------------------------------------------*/
.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

/*
  Added via JS to <textarea> and class="input_full".
  Applies only to IE7. Other browsers don't need it.
*/
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* `UI Consistency
----------------------------------------------------------------------------------------------------*/
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 3px;
  /* IE8, IE9, IE10 */
  top: 0\0;
  /* IE7 */
  *top: -3px;
  margin-right: 10px;
}

/* iPad */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}
/* iPhone 3 */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}
/* iPhone 4 */
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}
.button, button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  width: auto;
  color: #494949;
  background: #efefef;
  padding: .25em .75em;
  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px;
}
.button:hover, .button:focus, button:hover, button:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
  background: #c9c9c9;
}

button {
  /* IE7 */
  *padding-top: 1px;
  *padding-bottom: 1px;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #595959;
  color: #595959;
  outline: 0;
  padding: 2px 10px;
  font-size: 16px;
  font-family: "franklin-gothic-urw", arial, sans-serif;
  height: 1.8em;
  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

/*
  Separate rule for Firefox.
  Separate rule for IE, too.
  Cannot stack with WebKit's.
*/
::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

:invalid {
  /*
    Suppress red glow that Firefox
    adds to form fields by default,
    even when user is still typing.
  */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:focus,
button:active,
button:hover,
input:hover,
input:focus,
input:active,
select:focus,
select:active,
select:hover,
textarea:focus,
textarea:active {
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  color: black;
  /* for Opera */
  z-index: 1;
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(../images/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 11px/1 "franklin-gothic-urw", arial, sans-serif;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0;
  }
}
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

/* @end */
/* @group ----- Theme-Specific Form Elements ----- */
fieldset {
  display: block;
  clear: both;
  border: 0;
  margin: 0;
  padding: 0;
}

.search-entry {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 12px 2%;
  margin-bottom: 24px;
  overflow: auto;
  margin-top: 12px;
}

.remove_search {
  width: 30px;
  position: relative;
  height: 30px;
}

#advanced-search-form .inputs {
  clear: both;
}
#advanced-search-form input, #advanced-search-form select {
  display: block;
  margin-bottom: 24px;
}
#advanced-search-form .search-entry select,
#advanced-search-form .search-entry input[type="text"] {
  width: 100%;
  display: block;
}
#advanced-search-form .search-entry:first-child .advanced-search-joiner {
  display: none;
}
#advanced-search-form input[type=submit], #advanced-search-form button {
  clear: both;
  width: auto;
  border-radius: 0;
}
#advanced-search-form .submit {
  margin-top: 24px;
  margin-bottom: 24px;
}
#advanced-search-form .search-entry input[type=text] {
  margin-bottom: 0;
}
#advanced-search-form #search-narrow-by-fields .inputs {
  margin-bottom: 24px;
}
#advanced-search-form .field {
  margin-bottom: 0;
}
#advanced-search-form .field .inputs {
  width: 100%;
}
#advanced-search-form .field label {
  margin: 0;
  margin-bottom: 24px;
}
#advanced-search-form .field div.field:last-of-type {
  display: inline-block;
  margin-bottom: 1em;
}
#advanced-search-form .field div:only-child {
  margin-bottom: 0;
}
#advanced-search-form .field .remove_search {
  margin: 24px 0 0;
}

ul.items-list, ul.collections-list, ul.title-list {
  list-style: none;
  margin-left: 0;
}

.title-list li {
  line-height: 1.33333em;
  margin-bottom: 1.33333em;
}

textarea#rights {
  float: none;
  display: none;
  line-height: 1.33333em;
  width: 512px;
  border: none;
  height: 31em;
  color: #444;
  padding: 0;
  margin: 0;
}

div.error {
  line-height: 1.33333em;
  margin: 1.33333em 0;
}

/* == Microformats == */
.hTagcloud {
  margin-top: 2em;
}
.hTagcloud ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  line-height: 1.8em;
}
.hTagcloud li {
  display: inline;
  margin-right: 8px;
}

.popular {
  font-size: 100%;
}

.v-popular {
  font-size: 140%;
}

.vv-popular {
  font-size: 180%;
}

.vvv-popular {
  font-size: 220%;
}

.vvvv-popular {
  font-size: 260%;
}

.vvvvv-popular {
  font-size: 300%;
}

.vvvvvv-popular {
  font-size: 320%;
}

.vvvvvvv-popular {
  font-size: 340%;
}

.vvvvvvvv-popular {
  font-size: 360%;
}

.popular a, .popular a:visited,
.v-popular a, .v-popular a:visited,
.vv-popular a, .vv-popular a:visited {
  color: #714271;
}

.vvv-popular a, .vvv-popular a:visited,
.vvvv-popular a, .vvvv-popular a:visited {
  color: #636;
}

.vvvvv-popular a, .vvvvv-popular a:visited,
.vvvvvv-popular a, .vvvvvv-popular a:visited,
.vvvvvvv-popular a, .vvvvvvv-popular a:visited,
.vvvvvvvv-popular a, .vvvvvvvv-popular a:visited {
  color: #5D2E5D;
}

/* @end */
/* @group ----- Advanced Search Form ----- */
#advanced-search-form {
  margin-bottom: 40px;
}

#advanced-search-form .search-entry input[type=text],
#advanced-search-form .search-entry select {
  width: calc((100% - 42px) / 4);
  display: inline-block;
  margin: 0 3px 0 0;
  float: none;
}

#advanced-search-form .search-entry:first-child input[type="text"],
#advanced-search-form .search-entry:first-child select {
  width: calc((100% - 42px) / 3);
}

#advanced-search-form .field .remove_search {
  text-indent: -9999px;
  margin-top: 0;
  width: 30px;
  float: right;
  clear: none;
}
#advanced-search-form .field .remove_search:after {
  content: "\f00d";
  font-family: "franklin-gothic-urw", arial, sans-serif;
  text-indent: 0;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  line-height: 30px;
}

/* @end */
