/*
Table of Contents
=================
-- General Styles
-- Header
---- Top Nav Bar
---- Primary Nav Bar
-- Footer
-- Pagination
-- Content
---- Browse and Item Pages
---- Simple Pages
---- Contributed Items
-- Form Elements
--Advanced Search
*/

/* !---------- General Styles ---------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: $font-family-main;
  font-weight: $font-weight-main;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
}
body,
.wrapper {
    @include flexbox();
    @include flex-direction(column); 
}
.wrapper {
  @include flex(1);
}
.wrapper > * {
    padding: 0px;
    @include flex(1 100%);
}

.flex-container {
    @include flexbox();
    @include flex-flow(row wrap);
    @include justify-content(space-around);
}
  
.flex-item {
    padding: 1rem;
    @include flexbox();
    @include flex-direction(column);
    @include flex(1 1 50%);
    @include order(1);
}
.main-content {
    padding: 1rem;
    @include flexbox();
    @include flex-direction(column);
    @include order(1);
    @include flex(2);
}
.side-bar {
  @include flexbox();
  @include align-self(center);
  @include order(2);
  @include flex(1);
  padding: 1rem;
  margin: 1rem;
  display: block;
  border: hidden;
  background-color: $background-color-white;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  color: $primary-text-color;
  & h3 {
    padding-bottom: .5rem;
    padding-top: .75rem;
    text-transform:uppercase;
  }
}

@media all and (min-width: 600px) {
  .wrapper {
    @include flex-direction(row);
  }
}

@media all and (max-width: 650px) {
  .flex-item,
  .main-content {
    @include flex(1 100%);
    @include flex-flow(column nowrap);
  }
}

ul, ol {
  list-style: disc outside none;
  padding: 0 0 0 30px;
}
ul ul, ol ul {
  list-style: circle outside none;
}

a {
  &:link {
      color: $link-color;
  }
  &:visited {
      color: $link-visited-color;
  }
  &:hover {
      color: $link-hover-color;
  }
  &:focus {
      color: $link-focus-color;
  }
  &:active {
      color: $link-active-color;
  }
  h1 &,
  h2 &,
  h3 & {
      text-decoration:none;
  }
}

#main {
  background-color: $background-color-white;

  h1, h2 {
    font-family: $font-family-title;
    font-weight: $font-weight-medium; 
  }
}
#main h1 {
  font-size: $base-font-size * 2;
  // color: $secondary-text-color;
  margin-bottom: 2rem;
}
#main h2 {
  font-size: $base-font-size * 1.875;
  line-height: $base-line-height * 1.25;
  margin: 0.67em 0 0.67em;
  // color: $base-color;
}
#main h3 { 
  font-family: $font-family-title;
  // color: $base-color; 
  font-weight: $font-weight-medium;
  font-size: $base-font-size * 1.5; 
  margin: 0.67em 0 0.67em; 
  // text-transform: uppercase; 
  -webkit-margin-before: 0;
}
#main h4 { 
  // color: $base-color; 
  font-family: $default-font; 
  font-size: $base-font-size * 1.2; 
  font-weight: $font-weight-medium; 
  margin: 0.67em;
  text-transform: uppercase;
  // text-decoration: underline;
}
#main p, #main ul, #main li  { 
  margin-bottom: 1em;
}

.content{ //homepage content
  position: relative;
  display: block;
  border: hidden;
  background-color: $background-color-white;
  padding: 1rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  color: $primary-text-color;
  @include flex(1 0 auto);

  & h2 {
    padding-bottom: .5rem;
    // padding-top: .5rem;
  }

  & p {
    padding-bottom: 1rem;
  }
  & span {
    padding-bottom: 1rem;
  }
}

.content footer {
  display: block;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: lighten($link-color, 60%);
  padding: 1rem;
  width: 100%;
  a{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: $base-font-size;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.aside {
  // background: $background-color-sidebar;
  // padding: 0.5rem 2rem;
  // margin: 1rem -1rem -1rem -1rem;
  // @include flexbox();
  // @include flex-direction(column);
  // padding: 1rem;
  padding: 1rem;
  @include flexbox();
  @include flex-direction(column);
  @include flex(1 1 100%);
  @include order(1);
}

div.icons {
  float: left;
  width: 100px;
  padding: .25em .75em;
  margin-right: 1.5rem;

  a {
    text-align: center;
    text-decoration: none;
    // color: $secondary-text-color;
    font-weight: $font-weight-main;
    font-size: 1rem;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

div.icons svg {
  width: 100%;
  height: auto;
  path {
    fill: $primary-text-color;
  }
  // &:hover path {
  //   fill: $secondary-text-color;
  // }
}
/* -------------------------------------------------------------------------*/
/* !---------- Header ---------- */
header {
    padding: 0;
}

#site-title {
  padding: .5rem 1.5rem;
    // background-color: $background-color-primary-nav;
    & h1 {
    margin: 0; 
    padding-bottom: 1.5rem;
    overflow: hidden;
    text-overflow: inherit;
    // color: $white-text-color;
    font-size: $base-font-size * 2;
    line-height: $base-line-height * 1.5;
    font-family: $font-family-main;
    font-weight: $font-weight-medium;
    }
    & h2 {
      margin: 0; 
      // padding: 1.5rem;
      overflow: hidden;
      text-overflow: inherit;
      // color: $white-text-color;
      font-size: $base-font-size * 1.5;
      line-height: $base-line-height * 1.5;
      font-family: $font-family-main;
      font-weight: $font-weight-medium;
      }
    & a {
      // color: $white-text-color;
      text-decoration: none;
    }
    & a:visited {
      // color: $white-text-color;
      text-decoration: none;
    }
}

#introduction { //homepage content
    min-height: 40vh;
    // background-image: linear-gradient(rgba(0,61,138, 0.6), rgba(0,61,138, 0.8));
    background-size: cover;
    background-position: center top;
    // margin: -1rem -1rem 1rem -1rem;
  }

#introduction p {
  margin: 0;
  // max-width: 60vw;
  // float: right;
  font-size: 1.2rem;
  font-weight: $font-weight-medium;
  // color: $white-text-color;
  text-align: left;
  padding: 4rem;
  padding-left: 40%;
  min-height: 40vh;
  background-size: cover;
}
@media all and (max-width: 650px) {
  #introduction p {
    // max-width: 100vw;
    padding-left: 4rem;
  }
}

#admin-bar {
  // background-color: $background-color-secondary;
  padding:0;
}

.admin-login {
  float: right;
  padding: 0;
  margin-top: -0.6rem;
  margin-bottom: -0.6rem;
  
}

/* !---------- Top Nav Bar ---------- */
.topnav {
  overflow: hidden;
  display: block;
  padding: 1rem;
  @include flexbox();
  @include flex-flow(row wrap);
  @include justify-content(space-between);

  a {
    // color: $white-text-color;
    text-decoration: none;
    font-family: $default-font;
    text-transform: uppercase;
  }
  a:hover {
    text-decoration: underline;
  }
}
#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#skipnav:focus {
  top:0;
  z-index:9999;
  clip:initial;
  height:auto;
  width:auto;
  padding:.5em;
  border:1px blue dashed;
}

// .logo-short {
//   display: none;
// }
// @media all and (max-width: 600px) {

//   .logo-long {
//     display: none;
//   }
//   .logo-short {
//     display: block;
//   }
// }

/* !---------- Primary Nav Bar ---------- */
.navigation {
  list-style: none;
  margin: 0; 
  padding: 0;
  padding-top: .25rem;
  padding-bottom: .25rem;
  // background: $background-color-secondary;
  @include flexbox();
  @include flex-flow(row wrap);
  @include justify-content(flex-start);

  & a {
    // color: $white-text-color;
    line-height: $base-line-height * 1.5;
    font-weight: $font-weight-main;
    padding: 1.5rem;
    text-decoration: none;
  }
  & a:hover {
    text-decoration: underline;
  }
}

@media all and (max-width: 800px) {
  .navigation, .topnav {
    @include justify-content(flex-start);
  }
}
@media all and (max-width: 600px) {
  .navigation, .topnav {
    @include flex-flow(column wrap);
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/* -------------------------------------------------------------------------*/
/* !---------- Footer ---------- */
.footer {
  text-align: center;
  // background-color: $background-color-secondary;
  // color: #e0e0e0;
  // color: rgba(255,255,255,.75);
  padding: 1rem;
}
// #footer-text {
//   color: $white-text-color;
// }

#bottom-nav {
  display: inline-block;
  font-size: .9rem;
  // a,
  // a:link
  // a:visited {
  //   color: #e0e0e0;
  //   color: rgba(255,255,255,.75);
  // }
  // a:hover,
  // a:focus {
  //   color: #fff;
  // }
}

/* -------------------------------------------------------------------------*/
/* !---------- Pagination ---------- */

.item-pagination {
  // text-align:center;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.item-pagination a {
  display: block;
  text-decoration: none;
  background: lighten($link-color, 65%); //rgba($link-color, .05)
  padding: .25em .75em;
  margin-right: 2rem;
    &:hover,
    &:focus {
      background: lighten($link-color, 50%); //rgba($link-color, .125)
    }
}

.item-pagination li.next {
  float: right;
  text-align: right;
}

.item-pagination li, .pagination_list li {
  display: inline-block;
  margin: 0;
}

.sort-links {
  ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
    display:inline-block;

    li {
      display: inline-block;

      & + li:before {
        content: "\b7";
        padding: 0 .25em;
        color: rgba(black, .5);
      }
    }
  }
}
.pagination_list,
.sort-links {
  font-size: $base-font-size * .9;
  line-height: $base-line-height * 1.25;;
}
.pagination_list {
  list-style:none;
  margin-left:0;
  padding-left:0;

  li {
    display:inline;

    &.pagination_current {
      background: lighten($link-color, 50%); //rgba($link-color, .375)
      color: rgba(black,.8);
      padding: .25em .75em;
    }
  }
  a {
    text-decoration:none;
    background: lighten($link-color, 65%); //rgba($link-color, .05)
    padding: .25em .75em;

    &:hover,
    &:focus {
      background: lighten($link-color, 50%); //rgba($link-color, .125)
    }
  }
}

/* -------------------------------------------------------------------------*/
/* Browse and Item Pages */

// .browse,
//   .tags,
//   .items,
//   .collection {
//       .secondary-nav li, #secondary-nav li{
//           @include line-button;
//       }
// }

.browse, 
.collection { /* browse view */
  .items {
    @include flexbox();
    @include justify-content(space-between);
    @include flex-flow(row wrap);
  }
  .item {
    width: 250px;
    margin: 0 2em 2em 0;
  }
}

.item h2 a {
  // color: rgba($secondary-text-color, .9);
  font-size: $base-font-size * 1.5;
  &:hover,
    &:focus {
      // color: $secondary-text-color;
      text-decoration: underline;
    }
}
.item h3 a {
  font-size: $base-font-size * 1.25;
  &:hover,
    &:focus {
      // color: $secondary-text-color;
      text-decoration: underline;
    }
}

.main-content
// #homepage-text,
// #home article div.side-bar,
// .items #primary,
// .browse #primary,
// .contribution #primary,
// .simple-page #primary,
// .collections #primary 
{
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
//Simple Pages
.simple-page .page-text {
  float:left;
  width: 65%;
}

.simple-page #primary {
  overflow:hidden;
}

/* -------------------------------------------------------------------------*/
/* !---------- Contributed Items ---------- */
// contribution form additions

.contribution {
  min-height: 1145px;
}
// #contribution-item-metadata, 
// #contribution-type-form,
// #contribution-confirm-submit,
// .inputs, fieldset, input, form, .field
//  {
//   padding: 0;
// }
// #contribution-introduction {
//   font-size: $base-font-size;
//   padding: 20px;
//   background: rgba(0,0,0,0.05);
//   margin-bottom: 20px;
// }
#contribution-confirm-submit {
  .inputs {
    margin: 1.333em 0;
  }
}
.field .inputs {
  font-weight:normal;
  font-size: 1rem;
}

.field .input-block {
  font-size: 1rem;
}

legend {
    padding: 0.9em 0 1.0em;
    font-size: 1.333em;
    font-family: $font-family-main;
    color: #4B676E;
  }
  
.field {
  margin: 1.4em;
  font-weight: bold;

  .normal {
    font-weight: normal;
  }
}

#content {
  .container {
    margin-right: 60px;
  }
}

#form-submit {
  margin: 1.333em 0;
}

p {
  overflow: wrap;
}

.page a {
  text-decoration: none;
}

.element-set {
  h2 {
    margin: 0 0 0.67em;
  }
}

.pager {
  margin-left:0;
  margin-right:0;
  padding:0;
  margin-top: 3em;
  a {
    text-decoration:none;
    font-size: 80%;
  }
}

.item-img {
  img {
    max-width: 80%;
    margin: 0 auto;
  }
}

.item-type-email {
  border: 1px solid rgba(0,0,0,0.05);
  background: rgba(255,255,255,0.5);
  padding: 1.5em 5%;
  font-size: 80%;
  h2 {
    font-size: 150% !important;
    color: #555;
  }

  p {
    margin-left: 1.5em;
  }
}

#itemfiles {
  margin-bottom: 1.5em;
}

.kicker {
  margin-bottom:0 !important;
  font-style:italic;
  color: #999;
  font-family: Georgia, serif;
  font-size:0.8em;

  + * {
    margin-top:0 !important;
  }
}

.row {
  min-width: 20px !important;
}

#content .container {
  margin-right:0 !important;
}

video {min-height: 530px; }

#item-output-formats,
.items-nav,
#outputs {
    display:none;
}

.element {
    margin-bottom: 1.75em;
}

.element h3 {
    margin-bottom:.375em !important;
}


.explanation {
  font-weight: normal;
}

.results {
  .item {
    &:not(:first-child):before {
      width: 20%;
      margin: 3em auto;
      display: block;
      background-color: #ddd;
      height:1px;
      text-align: center;
    }

    .item-img {
      float: right;
      margin-left: 1.5em;
    }
  }
}

  
/* -------------------------------------------------------------------------*/
/* @group ----- Formalize Styles -----  */
/* == http://formalize.me == */

/* `Widths
----------------------------------------------------------------------------------------------------*/

.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

/*
  Added via JS to <textarea> and class="input_full".
  Applies only to IE7. Other browsers don't need it.
*/
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* `UI Consistency
----------------------------------------------------------------------------------------------------*/

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 3px;
  /* IE8, IE9, IE10 */
  top: 0\0;
  /* IE7 */
  *top: -3px;
  margin-right: 10px;
}

/* iPad */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}

/* iPhone 3 */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

/* iPhone 4 */
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

.button, button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  border:0;
  cursor: pointer;
  font-family:$default-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  width: auto;
  color:$link-color;
  background: lighten($link-color, 65%); //rgba($link-color, .05)
  padding: .25em .75em;
    &:hover,
    &:focus {
      background: lighten($link-color, 50%); //rgba($link-color, .125)
    }


  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px;
}

button {
  /* IE7 */
  *padding-top: 1px;
  *padding-bottom: 1px;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #595959;
  color: #595959;
  outline: 0;
  padding: 2px 10px;
  font-size: $base-font-size;
  font-family: $default-font;
  height: 1.8em;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

/*
  Separate rule for Firefox.
  Separate rule for IE, too.
  Cannot stack with WebKit's.
*/
::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

:invalid {
  /*
    Suppress red glow that Firefox
    adds to form fields by default,
    even when user is still typing.
  */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:focus,
button:active,
button:hover,
input:hover,
input:focus,
input:active,
select:focus,
select:active,
select:hover,
textarea:focus,
textarea:active {
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  // border: 1px solid #494949;
  color: darken($link-color, 30%);
  /* for Opera */
  z-index: 1;
  
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(../images/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 11px/1 $default-font;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

/* @end */

/* @group ----- Theme-Specific Form Elements ----- */

legend { @extend h3; }

fieldset {
    display:block;
    clear:both;
    border: 0;
    margin: 0;
    padding: 0;
}

.search-entry {
    background-color: rgba(0,0,0,.05);
    padding: (.5 * $spacing-unit) 2%;
    margin-bottom: $spacing-unit;
    overflow: auto;
    margin-top: (.5 * $spacing-unit);
}

.remove_search {
    width: 1.25 * $base-line-height;
    position: relative;
    height: 1.25 * $base-line-height;
}

#advanced-search-form {
    .inputs {
        clear: both;
    }

    input, select {
        display: block;
        margin-bottom: $spacing-unit;
    }

    .search-entry select,
    .search-entry input[type="text"] {
        width: 100%;
        display: block;
    }

    .search-entry:first-child .advanced-search-joiner {
        display: none;
    }

    input[type=submit], button {
        clear: both;
        width:auto;
        border-radius: 0;
    }

    .submit {
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit;
    }

    .search-entry input[type=text] {
        margin-bottom: 0;
    }

    #search-narrow-by-fields .inputs {
        margin-bottom: $spacing-unit;
    }

    .field {
        // border-bottom:1px solid #ccc;
        // width:100%;
        // overflow: auto;
        // padding: $spacing-unit 0;
        margin-bottom: 0;

        .inputs {
            width: 100%;
        }

        label {
            margin: 0;
            margin-bottom: $spacing-unit;
        }

        div.field:last-of-type { display: inline-block; margin-bottom: 1em; }

        div:only-child { margin-bottom: 0; }

        .remove_search {
            margin: $spacing-unit 0 0;
        }
    }
}

ul.items-list, ul.collections-list, ul.title-list {
    list-style:none;
    margin-left:0;
}

.title-list li {
    line-height:1.33333em;
    margin-bottom:1.33333em;
}

textarea#rights {
    float:none;
    display:none;
    line-height:1.33333em;
    width: 512px;
    border:none;
    height:31em;
    color:#444;
    padding:0;
    margin:0;
}

div.error {
    line-height:1.33333em;
    margin:1.33333em 0;
}

/* == Microformats == */

.hTagcloud {
    margin-top:2em;

    ul {
        list-style:none;
        margin-left:0;
        padding-left:0;
        line-height:1.8em;
    }

    li {
        display:inline;
        margin-right:8px;
    }
}


.popular {font-size:100%;}
.v-popular {font-size:140%;}
.vv-popular {font-size:180%;}
.vvv-popular {font-size:220%;}
.vvvv-popular {font-size:260%;}
.vvvvv-popular {font-size:300%;}
.vvvvvv-popular {font-size:320%;}
.vvvvvvv-popular {font-size:340%;}
.vvvvvvvv-popular {font-size:360%;}

.popular a, .popular a:visited,
.v-popular a, .v-popular a:visited,
.vv-popular a, .vv-popular a:visited { color: #714271; }

.vvv-popular a, .vvv-popular a:visited,
.vvvv-popular a, .vvvv-popular a:visited {color: #636;}

.vvvvv-popular a, .vvvvv-popular a:visited,
.vvvvvv-popular a, .vvvvvv-popular a:visited,
.vvvvvvv-popular a, .vvvvvvv-popular a:visited,
.vvvvvvvv-popular a, .vvvvvvvv-popular a:visited {color: #5D2E5D;}

/* @end */
/* @group ----- Advanced Search Form ----- */

#advanced-search-form {
  margin-bottom: 40px;
}

#advanced-search-form .search-entry input[type=text],
#advanced-search-form .search-entry select {
  width: calc((100% - #{(1.75 * $spacing-unit)}) / 4);
  display: inline-block;
  margin: 0 3px 0 0;
  float: none;
}

#advanced-search-form .search-entry:first-child input[type="text"],
#advanced-search-form .search-entry:first-child select {
  width: calc((100% - #{(1.75 * $spacing-unit)}) / 3);
}

#advanced-search-form .field .remove_search {
  text-indent: -9999px;
  margin-top: 0;
  width: (1.25 * $spacing-unit);
  float: right;
  clear: none;

  &:after {
      content: "\f00d";
      font-family: $default-font;
      text-indent: 0;
      text-align: center;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      line-height: 1.25 * $base-line-height;
  }
}
/* @end */



