/* ------------------------------------------------------

[ TABLE OF CONTENTS ]

1.  BOILERPLATE RESET & BASE STYLES
2.  CONTAINER STYLES
3.  TOP LINKS BAR, SEARCH, & BANNER
4.  MAIN NAVIGATION
5.  MAIN CONTENT
6.  SIDEBAR
7.  CONTACT US
8.  FOOTER
9.  BANNERS & FEATURED CONTENT
10. LIBRARIES & LABS
11. COLLECTIONS
12. RESEARCH
13. SERVICES
14. OUR ORGANIZATION
15. HOURS
16. SINGLE PAGES
17. MAPS
18. MISC. WORDPRESS & GRAVITY FORMS
19. MEDIA QUERIES
20. UNSORTED

--------------------------------------------------------- */

/*Starrie test commit comment*/

/* ------------------------------------------------------
1. BOILERPLATE RESET & BASE STYLES
--------------------------------------------------------- */

/* HTML5 ELEMENTS, HIDDEN ELEMENTS, NEW MEDIA ELEMENTS */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block }

audio:not([controls]), [hidden], .hentry time, .hentry .byline, .hentry #comments, figure.gallery-item figcaption, .home .page-title, .gform_wrapper .gform_edit_link, .gform_wrapper .validation_message, .ir br { display: none }

figure, form, .wp-caption-text { margin: 0 }

audio, canvas, video {
  display: inline-block;
           *display: inline;
           *zoom: 1;
         }

         /* WORDPRESS CONTENT */

         .aligncenter {
           display: block;
           margin: 0 auto;
         }

         .alignleft {
           float: left;
           margin: 0 1.5em 1.5em 0;
         }

         .alignright {
           float: right;
           margin: 0 0 1.5em 1.5em;
         }

         .wp-caption {
           border: 1px solid #ddd;
           text-align: center;
           background: #eee;
           margin: 15px 10px;
           padding: 14px 10px 6px;
         }

         /* ACCESSIBILITY & HIDDEN CONTENT */

         /* [ For image replacement ] */

         .ir {
           display: block;
           border: 0;
           text-indent: -999em;
           overflow: hidden;
           background-color: transparent;
           background-repeat: no-repeat;
           text-align: left;
           direction: ltr;
                      *line-height: 0;
                    }

                    .ir br { display: none }

                    /* [ Hide from both screenreaders and browsers: h5bp.com/u ] */

                    .hidden {
                      display: none !important;
                      visibility: hidden;
                    }

                    /* [ Hide only visually, but have it available for screenreaders: h5bp.com/v ] */

                    .visuallyhidden {
                      border: 0;
                      clip: rect(0 0 0 0);
                      height: 1px;
                      margin: -1px;
                      overflow: hidden;
                      padding: 0;
                      position: absolute;
                      width: 1px;
                    }

                    /* [ Extends the .visuallyhidden class to allow the element to be
                    focusable when navigated to via the keyboard: h5bp.com/p ] */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* [ Hide visually and from screenreaders, but maintain layout ] */

.invisible { visibility: hidden }

/* [ Contain floats: h5bp.com/q ] */

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after { clear: both }

.clearfix { *zoom: 1    }

/* LINKS, SELECTIONS, FORM ELEMENTS */

button, input, select, textarea {
  font-family: "ff-dagny-web-pro", "Helvetica Neue", Arial, sans-serif;
  color: #222;
  font-size: 100%;
  vertical-align: middle;
  margin: 0;
}

::-moz-selection, ::selection {
  background: #e3e4e3;
  color: #222;
  text-shadow: none;
}

a {
  color: #0D3268;
  cursor: pointer;
}

a:visited { color: #28374D; }

a:focus {
  color: #0D3268;
  outline: thin dotted;
}

a:hover, a:active {
  color: #0D3268;
  outline: 0;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input.button:active {
  outline: 0;
  position: relative;
  top: 1px;
}

/* BASE TYPOGRAPHY */

abbr[title] { border-bottom: 1px dotted }

b, strong { font-weight: 700 }

blockquote { font-family: "chaparral-pro", "Georgia", "Times New Roman", Times, serif; margin: 1em 4em; }

dfn { font-style: italic }

h1 {
  font-family: "chaparral-pro", "PT Serif", "Georgia", "Times New Roman", Times, serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
h2 { 
  font-family: "chaparral-pro", "PT Serif", "Georgia", "Times New Roman", Times, serif;
  line-height: 1.1em;
  text-rendering: optimizeLegibility;
}
h3, h4 { 
  font-family: "chaparral-pro", "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1em;
  text-rendering: optimizeLegibility;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

p { line-height: 1.4em }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q { quotes: none }

q:before, q:after { content: none }

small { font-size: 85% }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

ul, ol {
  list-style: square outside none;
  margin: 1em 0;
  padding: 0 0 0 30px;
}
ul ul, ol ul {
  list-style: circle outside none;
}

dd { margin: 0 0 0 30px }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) { overflow: hidden }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label { cursor: pointer }

legend {
  border: 0;
  margin-left: -7px;
  padding: 0;
}

button, input {
  line-height: normal;
  overflow: visible;
}

table button, table input { overflow: auto }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid { background-color: #f0dddd }

/* TABLES */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td { vertical-align: top }

/* ------------------------------------------------------
2. CONTAINER STYLES
--------------------------------------------------------- */

html {
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #f5f5f5;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.231em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #222;
  margin: 0;
}

/* ------------------------------------------------------
3. TOP LINKS BAR, SEARCH, & BANNER
--------------------------------------------------------- */

.top-container {
  background: #0c1a32;
  background-image: -moz-radial-gradient(50% -100%, circle closest-corner, rgba(13, 50, 104, 0.3), #0c1a32);
  background-image: -webkit-radial-gradient(50% -100%, circle closest-corner, rgba(13, 50, 104, 0.3), #0c1a32);
  background-image: radial-gradient(50% -100%, circle closest-corner, rgba(13, 50, 104, 0.3), #0c1a32);
  font-size: 1.4rem;
  height: 44px;
  line-height: 40px;
  z-index: 99;
}

.top-container a {
  border-bottom: 1px dotted #8899AA;
  color: #FFF;
  text-decoration: none;
  vertical-align: middle;
}

.top-container .last { text-align: right; }
.site-search-link { background: url('images/search-icon.png') no-repeat scroll 0 2px transparent; display: inline-block; height: 20px; line-height: 18px; margin-right: 6%; padding-left: 24px; }

#search { text-align: right; }
#SI, #s {
  background: #f5f5f5;
  border: 1px solid #999;
  font-size: 14px;
  height: 24px;
  margin: 0;
  padding: 6px 3%;
  width: 75%;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
  -webkit-background-clip: padding-box;
background-clip: padding-box; }
#SI:focus, #s:focus { background: #f8f8f8; outline: none; }
#main_search_submit, #searchsubmit {
  background: #aaa;
  border: 1px solid #777;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  height: 38px;
  line-height: 32px;
  margin: 0 0 0 -6%;
  vertical-align: middle;
  min-width: 80px;
  width: 14%;
  -webkit-text-shadow: 0 1px 0 #eee;
  -moz-text-shadow: 0 1px 0 #eee;
  text-shadow: 0 1px 0 #eee;
  background-image: -moz-linear-gradient(top, #eee, #bbb);
  background-image: -webkit-linear-gradient(top, #eee, #bbb);
  background-image: linear-gradient(top, #eee, #bbb);
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  -webkit-background-clip: padding-box;
background-clip: padding-box; }

#account-links li, #top-nav li { display: inline; margin-right: 1.5em; }

.header-container {
  background: url('images/header-texture.png') repeat scroll 0 0 #0d3268; /* Older browsers */
  background-image:
  -moz-linear-gradient(top, rgba(13, 50, 104, 0.1), rgba(13, 50, 104, 0.4)),
  url('images/header-texture.png');
  background-image: 
  -webkit-linear-gradient(top, rgba(13, 50, 104, 0.1), rgba(13, 50, 104, 0.4)),
  url('images/header-texture.png');
  background-image: 
  linear-gradient(top, rgba(13, 50, 104, 0.1), rgba(13, 50, 104, 0.4)),
  url('images/header-texture.png');
  border-bottom: 1px solid #0c1a32;
  border-top: 1px solid #5d769a;
  position: relative;
  z-index: 300;
  -webkit-box-shadow: 0 2px 3px rgba(120, 120, 120, 0.3), inset 0 8px 8px rgba(8, 31, 63, 0.2), inset 0 -1px 0 #5D769A;
  -moz-box-shadow:    0 2px 3px rgba(120, 120, 120, 0.3), inset 0 8px 8px rgba(8, 31, 63, 0.2), inset 0 -1px 0 #5D769A;
  box-shadow:         0 2px 3px rgba(120, 120, 120, 0.3), inset 0 8px 8px rgba(8, 31, 63, 0.2), inset 0 -1px 0 #5D769A;
}

.header-row { overflow: visible }

#top-banner {
  position: relative;
  margin: 0 auto;
}

#main-title { font-family: "chaparral-pro", Georgia, "Times New Roman", Times, serif; margin: 25px 3.8% 25px 0; }
#main-title a { text-decoration: none; }
#main-title span { 
  display: block; 
  -webkit-text-shadow: 0 -1px 0 #013;
  -moz-text-shadow:    0 -1px 0 #013;
  text-shadow:         0 -1px 0 #013;  
}
#main-title .donor-title { color: #bfc9d5; font-size: 19px; line-height: 19px; margin-bottom: 0.25em; margin-left: 2px; text-transform: uppercase; }
#main-title .library-title { color: #fff; font-size: 34px; line-height: 34px; }

#logo {
  background: none;
}

#logo img {
  display: block;
  margin: 20px auto;
  width: 155px;
}


/* ------------------------------------------------------
4. MAIN CONTENT
--------------------------------------------------------- */

.content-container {
  background-color: #F8F2E3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-container .content-row { background: #fff; }

#content {
  background: #f8f2e3;
  width: 100%;
  padding: 0;
}

#content .container {
  width: auto;
  position: relative;
  padding: 0;
}

#main {
  background: #fbfbfb;
  border-left: 1px solid #dfdacc;
  border-right: 1px solid #dfdacc;
  color: #333; 
  font-size: 15px; 
  font-size: 1.5rem;
  padding: 2.5% 3%;
  min-height: 460px;
}

#main.ninecol {margin-right: 0; width: 69.55%;}

#main h1.page-title, #main h1.entry-title {
  color: #51822F;
  clear: none;
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.1em;
margin-bottom: 0.67em; }

#main h1 {
  color: #646464;
  clear: both;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.1em;
margin-bottom: 0.67em; }

#main h2 { color: #444; font-size: 22px; font-size: 2.2rem; font-weight: normal; margin: 1.23em 0 0.67em; }
#main h3 { color: #6a6a6a; font-size: 17px; font-size: 1.7rem; font-weight: normal; margin: 1em 0 0.67em; text-transform: uppercase; -webkit-margin-before: 0; }
#main h4 { color: #333; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-size: 1.4rem; font-weight: bold; margin: 0.67em 0 0.5em; }
#main p, #main ul, #main li  { margin-bottom: 1.5em; }

#main img {
  background: #fff; 
  border: 1px solid #bbb; 
  max-width: 98%;
  padding: 1%; 
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 4px rgba( 44, 44, 44, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba( 44, 44, 44, 0.2);
box-shadow: 0 1px 4px rgba( 44, 44, 44, 0.2); }


#main table { border-bottom: 1px solid #eee; margin: 2em auto; width: 90%; }
#main table td, #main table th { padding: 0.5em 1em; text-align: left; }
#main table th { background: #f5f5f5; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; }

#main .page-navigation { 
  background: #eee;  
  float: right; 
  overflow: hidden; 
  padding: 1em; 
  width: 20%; 
  -webkit-border-radius: 2px;
  -moz-border-radius:    2px;
border-radius:         2px; }
#main .page-navigation a { font-size: 13px; font-size: 1.3rem; }
#main .page-navigation h3 a { 
  border-bottom: 1px dotted #ccc; 
  color: #555; 
  display: block;
  font-family: "Helvetica Neue", Arial, sans-serif; 
  font-size: 14px; font-size: 1.4rem; 
  font-weight: bold; 
  margin-bottom: 0.67em;
  padding-bottom: 0.67em;
  text-decoration: none; 
text-transform: none; }
#main .page-navigation .current_page_item > a { 
  background: #fafafa; 
  display: block; 
  font-weight: bold; 
  padding: 0.5em; 
  -webkit-border-radius: 2px;
  -moz-border-radius:    2px;
border-radius:         2px; }
#main .page-navigation .page-navigation-list { padding: 0; margin: 0; }
#main .page-navigation .page-navigation-list ul, #main .page-navigation .page-navigation-list li { padding: 0; margin: 0; }
#main .page-navigation .page-navigation-list li.page_item { margin-bottom: 0.5em; }
#main .page-navigation .page-navigation-list ul ul { margin: 0.5em; }

.breadcrumbs {
  background: #F4F4F4;
  color: #646464;
  float: left;
  margin-bottom: 0.8em;
  padding: 0.33em 1.33em;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
}

.item-vitals {
  background: #e9edf5;
  border-bottom: 1px solid #cdd1d9;
  border-top: 1px solid #cdd1d9;
  clear: both;
  font-size: 1.4rem;
  margin: 0.67em 0 0;
  padding: 0.67em 1em;
}

.item-vitals.collection-vitals, .item-vitals.organization-vitals {
  clear: both;
  margin-left: 0;
}

.item-vitals .vitals-section {
  overflow: hidden;
  padding: 0.33em 0;
}

.item-vitals .vitals-section h4 {
  float: left;
  font-weight: 400;
  padding-right: 2em;
  text-transform: uppercase;
  width: 6em;
}

.item-vitals .vital { padding-right: 1.5em }

.item-vitals .open-indicator {
  color: #555;
  padding-left: 1em;
  text-transform: uppercase;
}

.item-vitals .open-indicator.open {
  color: #51822f;
  font-weight: 700;
}

.external-post .external-post-title {
  display: inline;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  padding-right: 1em;
}

.external-post.post-blurb .external-post-title {
  color: #111;
  padding-right: 0.5em;
  text-transform: uppercase;
}

.external-post.title-only .external-post-title {
  padding-right: 1.33em;
  vertical-align: middle;
}

.external-post p { 
  display: inline; 
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
}

.library-blog h3 a, .collections-featured-section h3 a, .organization-vitals h3 a, .collections .featured-content .collections-featured-section.collections-links h3 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.blog-read-more { margin-left: 0.67em; }

.collections .featured-content h3, .collections .featured-content h3 a, .organization-list h3, .organization-list h3 a { font-size: 1.7rem !important }

#main li, .footer-container .util-nav li { margin-bottom: 0.67em }

#sidebar .info-blurb, #commentform p { margin-bottom: 1em }

.item-list.collection-list, .hentry .entry-content, .library-blog, .collections-featured-section, .organization-vitals { clear: both }

#main .home-content h2 { color: #222; font-family: "chaparral-pro", "PT Serif", "Georgia", "Times New Roman", serif; font-size: 23px; font-size: 2.3rem; margin: 0 0 1em 0; }
#main .home-content p { color: #555; font-family: "chaparral-pro", "PT Serif", "Georgia", "Times New Roman", serif; font-size: 17px; font-size: 1.7rem; line-height: 1.6em; }

#find-materials { border-color: #ccc; border-style: dotted; border-width: 1px 0 1px 0; clear: both; margin: 36px 0 0 0; padding: 1.33em 0.5em; overflow: hidden; }
#main #find-materials h2 { background: url('images/search-icon-l.png') no-repeat scroll 0 7px transparent; color: #777; line-height: 38px; margin: 0 3.8% 0 0; padding-left: 40px; }
#main h3.finding-aids { clear: both; color: #444; font-family: "chaparral-pro", "PT Serif", "Georgia", "Times New Roman", serif; font-size: 17px; font-style: italic; font-weight: normal; margin: 0 0 36px 0; padding-top: 1em; text-align: center; text-transform: none; }

.home-widget-container { 
  background: url('images/exhibit-texture.png') repeat scroll 0 0 #eaebec;
  margin-top: 2em;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 3px #ccc;
  -moz-box-shadow:    0px 2px 3px #ccc;
box-shadow:         0px 2px 3px #ccc; }

.home-widget-container .sixcol {
  color: #444;
  font-size: 15px;
  font-size: 1.5rem;
  margin: 0;
  padding: 3%;
width: 44%; }
#main .home-widget-container h3 {
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: 400;
  margin: 0 0 0.5em;
text-transform: none; }
.home-widget-container .item-picture img { height: 120px; width: 120px; }
.home-widget-container .headline { margin-bottom: 0.5em; text-transform: uppercase; }
.home-widget-container .exhibit-panel { -webkit-box-shadow: inset -1px 0 0 #ddd, 1px 0 0 #fff; -moz-box-shadow: inset -1px 0 0 #ddd, 1px 0 0 #fff; box-shadow: inset -1px 0 0 #ddd, 1px 0 0 #fff; }

#main .home-widget-content .widget { clear: both; margin: 1.67em 0 2.33em; overflow: hidden; }
#main .home-widget-content .widget h3 { font-size: 21px; font-size: 2.1rem; text-transform: none;}

/* ------------------------------------------------------
5. SIDEBAR
--------------------------------------------------------- */

#sidebar.fourcol { width: 34.45%; }

#sidebar .widget {
  clear: both;
  color: #6e5a49;
  margin: 1.5em 7%;
  padding: 0.67em 0;
}

#sidebar .widget h3 {
  color: #4B676e;
  font-family: "prenton", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0 0 0.33em;
  text-transform: uppercase;
}
#sidebar-area-top ul { font-family: "chaparral-pro", "PT Serif", "Georgia", "Times New Roman", serif; font-size: 16px; font-size: 1.6rem; margin: 0; padding: 0; }
#sidebar-area-top li { list-style: none inside none; line-height: 1.5em; margin: 0 0 0.33em 0; padding: 0; }
#sidebar-area-bottom li { margin: 0 0 0.75em 0; padding: 0; }

.item-list { list-style: none; margin: 0; padding: 0; }
.item-list.collection-list { clear: both; }
.item-list .item { clear: both; margin: 0 0 1.75em 0; overflow: hidden; }
.item-list .item .headline a { text-decoration: none; }
.item-list .item.collection { clear: none; margin: 0 3.8% 2.5em 0; }
.item-list .item.collection.last { margin: 0 0 2.5em 0; }
.item-list .item h2 { color: #317081; font-size: 27px; font-size: 2.7rem; margin: 0.25em 0 0.75em; }
.item-list .item h2 a, .item-list .item h2 a:visited { color: #393a3d; text-decoration: none; }
.item-list .item h2 a:hover, .item-list .item h2 a:visited:hover { color: #777; }
.item-list .item .item-picture img, .textwidget img.alignleft { 
  background: #fff; 
  border: 1px solid #bbb; 
  float: left; 
  margin-bottom: 0.5em; 
  margin-right: 1em; 
  padding: 4px; 
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 4px rgba( 44, 44, 44, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba( 44, 44, 44, 0.2);
box-shadow: 0 1px 4px rgba( 44, 44, 44, 0.2); }
.textwidget img.alignleft {
  -moz-box-shadow: inset 0 0 5px rgba( 0, 0, 0, 0.2 ), 0 0 5px rgba( 0, 0, 0, 0.6 );
  -webkit-box-shadow: inset 0 0 5px rgba( 0, 0, 0, 0.2 ), 0 0 5px rgba( 0, 0, 0, 0.6 );
  box-shadow: inset 0 0 5px rgba( 0, 0, 0, 0.2 ), 0 0 5px rgba( 0, 0, 0, 0.6 );
}
.item-list.link-list { list-style: square outside none; margin-left: 1.5em; }
.item-list.link-list .link-item { font-size: 15px; font-size: 1.5rem; margin: 0 0 1.2em 0; overflow: visible; }
.item-list.link-list.info-list { margin: 0.67em 0 1em 1.5em; }
.item-list.link-list.info-list .link-item { font-size: 14px; font-size: 1.4rem; margin: 0 0 0.5em 0; }
.item-description { color: #6a6a6a; font-size: 13px; font-size: 1.3rem; }

#sidebar .menu {
  background: #5a7195;
  border-top: 1px solid #35414f;
  border-right: 1px solid #506278;
  border-bottom: 1px solid #506278;
  color: #fafafa;
  list-style: none inside none;
  margin: 0 0 1em 0;
  padding: 0;
  -moz-text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
  -webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  -moz-box-shadow: 0 2px 3px #CCC;
  -webkit-box-shadow: 0 2px 3px #CCC;
  box-shadow: 0 2px 3px #CCC;
  -webkit-background-clip: padding-box;
}

#sidebar .menu .menu-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
#sidebar .menu .menu-item:hover {
  background: #dee3e9;
  background: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid  rgba(0, 0, 0, 0.4);
  background-image: -moz-radial-gradient(50% 50%, circle closest-corner, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) );
  background-image: -webkit-radial-gradient(50% 50%, circle closest-corner, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) );
  background-image: radial-gradient(50% 50%, circle closest-corner, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) );
}
#sidebar .menu > .menu-item:first-child, #sidebar .menu > .menu-item:first-child:hover {
  -moz-border-radius: 0 8px 0 0;
  -webkit-border-radius: 0 8px 0 0;
  border-radius: 0 8px 0 0;
}
#sidebar .menu > .menu-item:last-child, #sidebar .menu > .menu-item:last-child:hover {
  -moz-border-radius: 0 0 8px 0;
  -webkit-border-radius: 0 0 8px 0;
  border-radius: 0 0 8px 0;
}
#sidebar .menu .menu-item a {
  color: #fafafa;
  display: block;
  font-size: 20px;
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 1em;
  padding: .67em 1em;
  text-decoration: none;
}

/* SUB-MENU */

#sidebar .menu .sub-menu { 
  background: #f2f4f7;
  border-top: 1px solid #35414f;
  padding: 0.67em 0;
}
.js #sidebar .menu .sub-menu { display: none; }
#sidebar .menu .sub-menu .menu-item { border: none; color: #35414f; list-style: square inside none; }
#sidebar .menu .sub-menu .menu-item:hover {
  background: #dee3e9;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), inset 0 -1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow:    inset 0 1px 3px rgba(0,0,0,0.1), inset 0 -1px 3px rgba(0,0,0,0.1);
  box-shadow:         inset 0 1px 3px rgba(0,0,0,0.1), inset 0 -1px 3px rgba(0,0,0,0.1);  
}
#sidebar .menu .menu-item:first-child, #sidebar .menu .menu-item:last-child {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#sidebar .menu > .menu-item:last-child .sub-menu:last-child  {
  -moz-border-radius: 0 0 8px 0;
  -webkit-border-radius: 0 0 8px 0;
  border-radius: 0 0 8px 0;
  border-bottom: none;
}
#sidebar .menu .sub-menu .menu-item a {
  color: #35414f;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}


/* ------------------------------------------------------
FOOTER
--------------------------------------------------------- */

.footer-container {
  background: url('images/header-texture.png') repeat scroll 0 0 #0d3268;
  background-image:
  -moz-linear-gradient(top, rgba(13, 50, 104, 0.1), rgba(13, 50, 104, 0.4)),
  url('images/header-texture.png');
  background-image: 
  -webkit-linear-gradient(top, rgba(13, 50, 104, 0.1), rgba(13, 50, 104, 0.4)),
  url('images/header-texture.png');
  background-image: 
  linear-gradient(top, rgba(13, 50, 104, 0.1), rgba(13, 50, 104, 0.4)),
  url('images/header-texture.png');
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color: #eef2f8;
  padding: 2em 0 3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow:    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.2); 
}

.footer-container a { color: #eef2f8 }

.footer-container .widget { float: left; margin: 0 1%; width: 48%; }
.home-widget-content .widget h3,
.home-widget-content .widget h3 a,
.footer-container .widget h3,
.footer-container .widget h3 a { font-family: "chaparral-pro", "PT Serif", "Georgia", "Times New Roman", serif; font-size: 18px; font-size: 1.8rem; }
.footer-container .widget.widget-first h3 { font-family: "chaparral-pro", "PT Serif", "Georgia", "Times New Roman", serif; font-size: 25px; font-size: 2.5rem; }
.home-widget-content .textwidget,
.footer-container .textwidget { margin: 1em 0; }
.home-widget-content .widget_rss ul,
.footer-container .widget_rss ul { padding-left: 0; }
.home-widget-content .widget_rss li,
.footer-container .widget_rss li { list-style: none; margin-bottom: 0.67em; }
.footer-container a.rsswidget { display: block; font-size: 13px; margin-bottom: 0.33em; }
.footer-container h3 a.rsswidget { display: inline; }
.footer-container .rssSummary { color: #bfc9d5; font-size: 12px; line-height: 1.33em; }

#copyright { clear: both; display: block; float: left; font-size: 1em; margin: 2em auto 1em; text-align: center; width: 100%; }


/* ------------------------------------------------------
COLLECTIONS
--------------------------------------------------------- */

#main .featured-title {
  clear: both;
  float: left;
  margin-bottom: 0.67em;
}
.collections #main .filter-view { margin: 0.67em 0 0 0; }
#main .collections-channel-container { margin-bottom: 1.5em; }
#main .collections-channel-container .featured-title { margin-bottom: 0.33em; }
#main .collections-channel { border-right: 1px dotted #ddd; margin-right: 3.6%; }
#main .collections-channel.last { border-right: none; margin-right: 0; }
#main .collections-channel h3 {   
  margin-bottom: 0.67em;
  text-decoration: none;
width: 100%; }
#main .collections-channel h3 a { font-size: 19px; font-size: 1.9rem; text-decoration: none; }  
#main .collections-channel p { 
  color: #6a6a6a;
  font-family: "chaparral-pro", Georgia, serif; 
  font-size: 15px; 
  font-size: 1.5rem; 
  font-style: italic; 
padding-right: 1em; }
#main .collections-channel.last h3,
#main .collections-channel.last p { padding-right: 0; }
.collections .featured-content {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.collections .featured-content h3 {
  float: left;
  padding-right: 2em;
  width: 25%;
  margin: 0;
}

.collections .featured-content .collections-blurb {
  clear: both;
  margin-bottom: 1em;
}

.collections .featured-content .collections-blurb em {
  font-size: 1.9rem;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
}

.collections .featured-content .collections-blurb-list.info-list {
  display: inline;
  margin-left: 0;
}

.collections .featured-content .collections-blurb-list.info-list li {
  display: inline;
  padding-right: 1.33em;
}

.collections .featured-content .collections-featured-section {
  overflow: hidden;
  margin: 0.5em 0;
}

.collections .featured-content .collections-featured-section a { font-size: 1.5rem }

.collections .collection-description { min-height: 13em; }
.collection-vitals.item-vitals { border: none; margin: 0.67em 0 0; padding: 0; }
.collection-vitals.item-vitals .vitals-section { padding: 0.5em 1em; }
.collection-vitals.item-vitals .vitals-section h4 { line-height: 19px; }


.collections #sidebar { margin-top: 2em }
.collections #sidebar .exhibit-item { margin-bottom: 0; }


/* ------------------------------------------------------
MISC. WORDPRESS & GRAVITY FORMS
--------------------------------------------------------- */

/* [ WORDPRESS ] */

#post-nav:after, #comments-nav:after, #commentform:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

#post-nav .post-previous, #comments-nav .comments-previous {
  float: left;
  width: 50%;
}

#post-nav .post-next, #comments-nav .comments-next {
  float: right;
  width: 50%;
  text-align: right;
}

#post-nav .post-next a, #comments-nav .comments-next a { float: right }

.hentry header a { text-decoration: none }

#post-nav {
  clear: both;
  display: inline-block;
}

#comments-nav {
  clear: both;
  display: inline-block;
  margin: 0 0 1.5em;
}

ol.commentlist img.avatar {
  float: left;
  margin-right: 10px;
}

ol.commentlist time {
  display: block;
  font-size: 1em;
  margin-bottom: 0.5em;
  position: relative;
}

ol.commentlist .comment-reply-link {
  display: block;
  margin-bottom: 1.5em;
}

#commentform { display: inline-block }

#commentform input.button { margin-top: 0.5em }

figure.gallery-item {
  float: left;
  position: relative;
  margin: 0 1em 1em 0;
}

figure.gallery-item a img {
  border: 4px solid #bbb;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

figure.gallery-item a:hover img { border-color: #ccc }


/* ------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------- */

@media only screen and (min-width: 480px) { 
  /* Style adjustments for viewports 480px and over go here */ 

}

@media only screen and (min-width: 768px) { 
  /* Style adjustments for viewports 768px and over go here */ 

}

@media only screen and (max-width: 480px) { 
  /* Style adjustments for viewports 480px and under go here */

}

@media only screen and (max-width: 768px) { 
  /* Style adjustments for viewports 768px and under go here */
  #main.ninecol, #mainthreecol { margin: 0; width: 95%; }
  #main .home-widget-container .sixcol, .footer-container .widget { padding: 3%; width: auto; }
  .row #top-banner, .row .search-bar, .row #nav-main { padding-left: 0; padding-right: 0; }
  .top-container #top-nav { float: left; width: 50%; }
  #ribbon { display: none; }
  #logo img { margin: 20px auto 0; }
  .search-form { margin-left: 11%; }
  #sidebar .menu { border-left: 1px solid #506278;  border-radius: 8px; }

  /* #main, #sidebar, #main.eightcol, .home #main.eightcol, .no-bg .container #sidebar { margin-left: 0; margin-right: 0; padding-left: 3%; padding-right: 3%; width: 94%; }
  #main .connect-container { clear: both; padding: 0; }
  #main .home-panel, #main .connect-panel { padding: 0; margin: 1em 0; width: auto; }
  .footer-container { font-size: 15px; }
  .footer-container .footer-nav ul { padding-left: 0; }
  .contact-container .contact-info { margin: 0 5% 0.67em; }
  .contact-container .contact-info .vcard address, .contact-container .contact-info h2, .contact-container .contact-info .vcard { display: block; margin: 0.67em 0; text-align: left; }
  .item-vitals .vitals-section h4 { float: none; margin-bottom: 0.5em; width: 80% !important; } */
}

/* PRINT */

@media print { 
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a[href]:after { content: " (" attr(href) ")" }

  abbr[title]:after { content: " (" attr(title) ")" }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead { display: table-header-group }

  tr { page-break-inside: avoid }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page { margin: 0.5cm }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 { page-break-after: avoid }

  a, a:visited { text-decoration: underline }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: "" }
}

/* ------------------------------------------------------
UNSORTED
--------------------------------------------------------- */
